<div class="restore-process" nooperate>
	<div>檔案還原中<span class="typing_loader"></span></div>
	<div><progress value="0" max="100"></progress></div>
	<div>已完成 14/20 files (0.0 MB / 200.0 MB)</div>
</div>