<div class="setting">
	<div>請輸入密碼</div>
	<div><input type="password"></div>
	<div class="msg">來設定金鑰託管或下載</div>
	<div class="button" id="trusteeship">託管金鑰</div>
	<div class="button" id="cancel">取消託管</div>
	<div class="button" id="download">金鑰下載</div>
</div>