<div class="resotre">
<div class="title">
	請選擇要執行還原的資料
</div>

<div class="summary">
	<div class="space">
		<div>需要空間 0 MB</div> 
		<div class="progress"><div class="bar1" style="width: 67.5%"></div><div class="bar2" style="width: 0%; left: 67.5%"></div></div>
	</div>
	<div class="time">約 0 分鐘</div>
</div>
<div class="list">
	<!-- <div class="dir" size="209715200">
		<div os="win">
			<div>LUPHIA-T420s</div>
			<div>C:\test\</div>
		</div>
		<div>
			<div>還原到本機...</div>
			<div>C:\test\input type="file" nwworkingdir="C:\test\" nwdirectory /</div>
		</div>
		<div>
			<div>200.0 MB</div>
			<div>v.2014-01-17 14:34:38</div>
		</div>
	</div>
	<div class="dir" size="209715200">
		<div os="win">
			<div>LUPHIA-T420s</div>
			<div>D:\doc\ppts\</div>
		</div>
		<div>
			<div>還原到本機...</div>
			<div>D:\doc\ppts\input type="file" nwworkingdir="D:\doc\ppts\" nwdirectory /</div>
		</div>
		<div>
			<div>200.0 MB</div>
			<div>v.2014-01-15 18:03:17</div>
		</div>
	</div>
	<div class="dir" size="0">
		<div os="win">
			<div>LUPHIA-T420s</div>
			<div>C:\user\app\</div>
		</div>
		<div>
			<div>還原到本機...</div>
			<div>C:\user\app\input type="file" nwworkingdir="C:\user\app\" nwdirectory /</div>
		</div>
		<div>
			<div>0.0 MB</div>
			<div>尚未建立備份</div>
		</div>
	</div> -->
</div>

<div class="operate"><button disabled></button></div>

</div>