<div id="fileList">
	<div id="icon"><img id="img"></div>
	<div id="list_id">0</div>
	<div class="name">fileName</div>
	<div class="visual_name">fileName</div>
	<div class="type">TYPE</div>
	<div class="visual_type">TYPE</div>
	<div class="scale">Byte</div>
	<div class="size">0</div>
	<div class="state">STATE</div>	
</div>