<div class="main">

<div class="main-body">
	<div class="operate-area">
		<div class="app">
			<div class="clickable">
				<div class="icon"></div>
				<div class="title">HOME</div>
			</div>
			<div class="info"></div>
		</div>
		<div class="app" widget="backup">
			<div class="clickable">
				<div class="icon"></div>
				<div class="title">BACKUP</div>
			</div>
			<div class="info">立即備份您的資料</div>
		</div>
		<div class="app" widget="setting">
			<div class="clickable">
				<div class="icon"></div>
				<div class="title">SETTING</div>
			</div>
			<div class="info">同步資料夾與排程設定</div>
		</div>
		<div class="app" widget="restore">
			<div class="clickable">
				<div class="icon"></div>
				<div class="title">RESTORE</div>
			</div>
			<div class="info">還原您的資料</div>
		</div>
		<div class="app" widget="status">
			<div class="clickable">
				<div class="icon"></div>
				<div class="title">STATUS</div>
			</div>
			<div class="info">系統狀態與統計</div>
		</div>

		<div class="addition">
			<div><progress class="progress" value="30" max="100"></progress></div>
			<div></div>
		</div>
	</div>
	<div class="content">
	</div>
</div>

</div>