<div class="newKey">

	<div class="info">
		<div>
		您的資料將會經過金鑰加密分割後再進行備份，為確保您可以在其他機器上還原您的備份資料，您需要妥善保管這份金鑰。
		</div>
		<div>請選擇您的金鑰保管方式（您之後可以在設定介面修改）：</div>
	</div>
	<div class="choose">
		<div>線上託管金鑰</div>
		<div>自行下載保存</div>
	</div>

</div>