div.restore_detail {
	color: #fff;
	height: 300px;
	padding: 10px;
}

div.restore_detail > div.fileList {
	height: 180px;
	overflow-y: auto;	
}

div.restore_detail > div.fileList > div.file {
	background: #ddd;
	background-image: -webkit-linear-gradient(top, #eee 0%, #ddd 50%, #ccc 50%, #ddd);
	border-radius: 3px;
	color: #666;
	margin-bottom:2px;	
	overflow: auto;
	padding: 5px;	
}

div.restore_detail > div.fileList > div.file > div.name {
	float: left;
	width: 400px;
}