<div class="restore_detail">
	<div class="beginTime"></div>
	<div class="endTime"></div>
	<div class="durTime"></div>
	<div class="diskCapacity"></div>
	<div class="fileCount"></div>
	<div class="fileList"></div>
</div>