<div class="login">
	<div class="main">
		<div class="title">系統首次啟用</div>
		<fieldset>
			<div class="col">
				<label>帳號</label><input class="user" />
			</div>
			<div class="col">
				<label>密碼</label><input class="password" type="password" />
			</div>
		</fieldset>
	</div>
	<div class="footer">			
		<span class="message">請輸入暨有帳號或註冊新帳號</span>
		<fieldset>
			<button class="button">註冊新帳號</button>
			<button class="button" id="login">登錄舊帳號</button>
		</fieldset>
	</div>
</div>