<div class="backup">
<div class="title">
	請選擇要執行備份的資料 <a class="clickable">[+]</a>
</div>

<div class="summary">
	<div class="space">
		<div>需要空間 0 Byte</div>
		<div class="progress">
			<div class="bar1"></div>
			<div class="bar2"></div>
		</div>
	</div>
	<div class="time">約 0 分鐘</div>
	<div class="schedule">
		<div>自動備份: </div>
	</div>
</div>

<div class="list"></div>

<div class="operate"><button disabled></button></div>
<div class="delete"><button disabled></button></div>
</div>