<div class="question">
	<div class="title">請問 iServStorage 給您的整體感覺是</div>
	<div class="issue" id="question_1">
		<div class="button" id="good_button">
			<img src="./images/like.png">
		</div>
		<div class="button" id="bad_button">
			<img src="./images/like.png">
		</div>
	</div>
	<div class="issue" id="question_2">
		<table>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">有許多重要資料需要備份</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">比 google雲端硬碟 好用</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">比 Dropbox 好用</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">比使用 NAS系統 便宜</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">使用雲端空間備份資料還可以賺錢，噱爆了</div>
				</td>
			</tr>
		</table>
		<div class="subtitle">請勾選願意繼續使用 iServStorage 的原因</div>
	</div>
	<div class="issue" id="question_3">
		<table>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">無備份重要資料需求</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">習慣使用google雲端硬碟</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">Dropbox好用多了</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">我還是喜歡用NAS系統</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">
					<div class="label">爛透了！！！</div>
				</td>
			</tr>
		</table>
		<div class="subtitle">請勾選無意願使用 iServStorage 的原因</div>
	</div>
	<div class="issue" id="question_4">
		<table>
			<tr>
				<td>
					<input type="range" min="1" max="5" step="1" value="3">
					<div class="label">3</div>
				</td>
			</tr>
			<tr>
				<td>
					<textarea rows="4" cols="40" value="請寫下對於UI/UX的建議(選填)">請寫下對於UI/UX的建議(選填)</textarea>
				</td>
			</tr>
		</table>
		<div class="subtitle">請幫 iServStorage 的使用者介面評分</div>
	</div>
	<div class="issue" id="question_5">
		<table>
			<tr>
				<td>
					<input type="range" min="1" max="5" step="1" value="3">
					<div class="label">3</div>
				</td>
			</tr>
			<tr>
				<td>
					<textarea rows="4" cols="40" value="請寫下操作流暢程度的建議(選填)">請寫下操作流暢程度的建議(選填)</textarea>
				</td>
			</tr>
		</table>
		<div class="subtitle">請幫 iServStorage 的操作便利性評分</div>
	</div>
	<div class="issue" id="question_6">
		<table>
			<tr>
				<td>
					<input type="range" min="1" max="5" step="1" value="3">
					<div class="label">3</div>
				</td>
			</tr>
			<tr>
				<td>
					<textarea rows="4" cols="40" value="請寫下對於檔案安全的建議(選填)">請寫下對於檔案安全的建議(選填)</textarea>
				</td>
			</tr>
		</table>
		<div class="subtitle">您覺得 iServStorage 加密機制安全程度</div>
	</div>
	<div class="issue" id="question_7">
		<table>
			<tr>
				<td>
					<input type="range" min="1" max="5" step="1" value="3">
					<div class="label">3</div>
				</td>
			</tr>
			<tr>
				<td>
					<textarea rows="4" cols="40" value="請寫下對於檔案備份可靠度的建議(選填)">請寫下對於檔案備份可靠度的建議(選填)</textarea>
				</td>
			</tr>
		</table>
		<div class="subtitle">您覺得 iServStorage 備份機制可靠程度</div>
	</div>
	<div class="issue" id="question_8">
		<textarea rows="6" cols="40" value="可填寫任何建議與意見，幫助我們開發出更佳的產品(選填)">可填寫任何建議與意見，幫助我們開發出更佳的產品(選填)</textarea>
		<div class="subtitle">請不吝給予建議或回報BUG</div>
	</div>
	<div class="footer">
		<div class="button" id="back">Back</div>
		<div class="button" id="next">Next</div>
		<div class="button" id="submit">Submit</div>
	</div>
</div>