<div class="status">
	<div class="title">請選擇要查詢的日期</div>
	<div class="backup_title">備份清單</div>
	<div class="backup_lastestDay"></div>
	<div class="backup_list"></div>
	<div class="restore_title">還原清單</div>
	<div class="restore_list"></div>
</div>